<ul>
    <li>
        <h3>Quels sont les facteurs déterminant notre ordre de tri ?</h3>
        <p>En tant que voyageur à la
            recherche d'une solution d'hébergement sur notre site, de nombreuses options vous sont offertes pour
            vous aider à trouver l'hôtel idéal. </p>
    </li>
    <li><h3>Modification ou annulation de votre réservation d'hôtel</h3>
        <p> 1. Connectez-vous à la page de vos réservations.<br>
            2. Choisissez la réservation que vous souhaitez modifier ou annuler.<br>
            3. Sélectionnez Modifier ou Annuler.</p>
    </li>
    <li>
        <h3>Obtenir un reçu pour votre réservation d'hôtel</h3>
        <p>1. Dans votre e-mail de confirmation, sélectionnez Imprimer un reçu.<br>
            2. Suivez les instructions.</p>
    </li>
    <li>
        <h3>Gérer votre réservation d'hôtel</h3>
        <p>Vos réservations d'hôtel à venir, terminées et annulées sont stockées dans votre compte. Une fois la
            réservation effectuée, nous vous enverrons un e-mail de confirmation contenant votre voyage.</p>
    </li>
</ul>
